@model IEnumerable<Hospital.Models.Utentes>

@{
	ViewData["Title"] = "Index";
}

<h1>Lista de Utentes</h1>
@if (User.IsInRole("Administrativo"))
{
	<p>
		<a asp-action="Create">Criar Novo Utente</a>
	</p>
}
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Nome)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NumUtente)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NIF)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NumTelemovel)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DataNascimento)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Sexo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Foto)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nome)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NumUtente)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NIF)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NumTelemovel)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DataNascimento)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Sexo)
				</td>
				<td>
					@*@Html.DisplayFor(modelItem => item.Foto)*@
					@if (!string.IsNullOrEmpty(item.Foto))
					{
						<a href="~/Fotos/Utentes/@item.Foto" target="_blank">
							<img src="~/Fotos/Utentes/@item.Foto"
						 alt="foto do utente: @Html.DisplayFor(modelItem => item.Nome)"
						 title="@item.Nome"
						 height="75" />
						</a>
					}
					else
					{
						<img src="~/Fotos/Utentes/semFoto.png"
					 alt="foto do utente: @Html.DisplayFor(modelItem => item.Nome)"
					 title="@item.Nome"
					 height="75" />
					}
				</td>
				<td>
					@*Mostar Link para Editar se o utilizador for um Administrativo or for o Medico com id*@
					@if (User.IsInRole("Administrativo"))
					{
						<text>
							<a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
						</text>
					}
					<a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
					@if (User.IsInRole("Administrativo"))
					{
						<a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
					}
				</td>
			</tr>
		}
	</tbody>
</table>
