@model IEnumerable<Hospital.Models.Prescricoes>

@{
	ViewData["Title"] = "Index";
}

<h1>Lista de Prescrições</h1>
@if (User.IsInRole("Administrativo") || User.IsInRole("Medico"))
{
	<p>

		<a asp-action="Create">Criar Nova</a>
	</p>
}
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Descricao)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Data)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Estado)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Diagnostico)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Descricao)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Data)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Estado)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Diagnostico.Titulo)
				</td>
				<td>
					@*Mostar Link para Editar se o utilizador for um Administrativo or for o Medico com id*@
					@if (User.IsInRole("Administrativo") || User.IsInRole("Medico"))
					{
						<text>
							<a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
						</text>
					}
					<a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
					@if (User.IsInRole("Administrativo"))
					{
						<a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
					}

				</td>
			</tr>
		}
	</tbody>
</table>
