@model IEnumerable<Hospital.Models.Pagamentos>

@{
	ViewData["Title"] = "Index";
}

<h1>Lista de Pagamentos</h1>

<p>
	@if (User.IsInRole("Administrativo"))
	{
		<a asp-action="Create">Criar Novo</a>
	}
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Consulta)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Valor)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Descricao)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Estado)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DataEfetuado)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Metodo)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Consulta.Motivo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Valor) €
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Descricao)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Estado)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DataEfetuado)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Metodo)
				</td>
				<td>
					@if (User.IsInRole("Administrativo"))
					{
						<text>
							<a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
						</text>
					}
					<a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
					@if (User.IsInRole("Administrativo"))
					{
						<a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
					}
				</td>
			</tr>
		}
	</tbody>
</table>
