@model Hospital.Models.Especialidades

@{
	ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
	<h4>Especialidades</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Nome)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Nome)
		</dd>
	</dl>
</div>
<div>
	<hr />
	<b>Médicos da Especialidade @Html.DisplayFor(model => model.Nome)</b><br /><br />
	<dl class="row">
		@*Lista os medicos da especialidade*@
		@foreach (var item in Model.ListaMedicos)
		{
			<dd class="col-sm-10">
				<a href="@Url.Action("Details", "Medicos", new {id = @item.Id})" class="elements">
					@Html.DisplayFor(model => item.NumCedulaProf) - @Html.DisplayFor(model => item.Nome)
				</a>
			</dd>
		}
	</dl>
	@if (User.IsInRole("Administrativo")) 
	{
		<text>
			<a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
		</text>
	}
	<a asp-action="Index">Voltar à Lista</a>
</div>
