@model IEnumerable<Hospital.Models.Especialidades>

@{
	ViewData["Title"] = "Index";
}

<h1>Index das Especialidades</h1>
@if (User.IsInRole("Administrativo"))
{ 
	<p>
		<a asp-action="Create">Criar novo</a>
	</p>
}
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Nome)
			</th>
			<th>
				Número de Medicos
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nome)
				</td>
				<td>
					@*Mostra número de médicos da Especialidade*@
					@item.ListaMedicos.Count()
				</td>
				<td>
					@if (User.IsInRole("Administrativo"))
					{
						<text>
							<a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
						</text>
					}
					<a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
					@if (User.IsInRole("Administrativo"))
					{
						<a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
					}
				</td>
			</tr>
		}
	</tbody>
</table>
